{
    "Logging": {
        "IncludeScopes": false,
        "LogLevel": {
            "Default": "Information",
            "System": "Information",
            "Microsoft": "Information"
        }
    },
    "ConnectionStrings":
    {
        "SampleContext":"Initial Catalog=ParcelLogistics;User=sa;Password=yourPassword;Server=127.0.0.1,1433;MultipleActiveResultSets=True"
    }
}
